@model Hart_PROG7311_Part_2.Models.ProductModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden="hidden" asp-for="FarmerId" value="@HttpContextAccessor.HttpContext.Session.GetInt32("ID")" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select class="form-control" id="Category" asp-for="Category">
                    <option value=""></option>
                    <option value="Liquid">Liquid</option>
                    <option value="Tools">Tools</option>
                    <option value="Produce">Produce</option>
                    <option value="Technolodgy">Technolodgy</option>
                    <option value="Livestock">Livestock</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*Saving the file then saving to the Image String of the Location*@
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Image</label>
                <input asp-for="ImageFile" id="ImageFile" name="ImageFile" accept="image/*" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
                <input hidden="hidden" asp-for="Image" value="." class="form-control" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="ListedAt" class="control-label"></label>
                <input asp-for="ListedAt" class="form-control" />
                <span asp-validation-for="ListedAt" class="text-danger"></span>
            </div> *@
            <input hidden="hidden" asp-for="ListedAt"/>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label">Created At</label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
